{{>header}}
<title> Furnishing | Home</title>
{{>navbar}}

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="active"
            aria-current="true" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
            aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" class="active"
            aria-current="true" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
            aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9"
            aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 10"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/p1.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/p2.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/p3.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
            <img src="images/p4.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/p5.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/p6.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
            <img src="images/p7.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/p8.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/p9.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
            <img src="images/p10.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-fluid mt-2">
    <h4 class="text-center">Services</h4>
    <div class="row d-flex">
        <div class="col-6">
            <img src="images/p11.jpg" class="w-100" height="400px" alt="">
        </div>
        <div class="col-6">
            <h4 class="background text-center text-light p-1">Lorem ipsum dolor sit amet.</h4>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore porro voluptatibus sed quo culpa
                odio nemo laudantium, vitae asperiores praesentium cupiditate consequatur rem ipsam corrupti neque
                optio, eum quisquam similique. Illum doloribus voluptatum iusto, amet fuga, deleniti iure laudantium
                optio, quos impedit quis minus sapiente magnam quasi! Rerum nobis maxime porro eligendi impedit unde
                quidem veniam qui nesciunt perspiciatis atque magnam rem facere, velit eaque iste, officiis blanditiis!
                Optio suscipit architecto quam, nemo totam sunt iure, mollitia id recusandae fugiat ipsam eveniet ipsa
                expedita perspiciatis sed accusantium? Facilis harum laudantium vitae tempora illum architecto quos
                nostrum nemo dolor voluptatibus beatae reprehenderit sequi at explicabo maiores maxime excepturi
                cupiditate iste ab, culpa consequuntur cum tenetur, qui laborum. Cum debitis optio facilis nam atque,
                voluptates tempora quasi dolores! Saepe voluptates ut soluta voluptatum? Blanditiis officiis cum veniam
                dignissimos, sapiente eligendi dolor repellendus alias temporibus quod vitae exercitationem in iure
                nobis voluptas error! Facere nemo possimus corrupti voluptas blanditiis dolorum maiores. Officiis saepe
                itaque nihil est illum possimus soluta corporis nostrum ab dicta facere quae doloremque culpa
                  </div>
    </div>
      <div class="row flex-row-reverse">
        <div class="col-6">
            <img src="images/p11.jpg" class="w-100" height="400px" alt="">
        </div>
        <div class="col-6">
            <h4 class="background text-center text-light p-1">Lorem ipsum dolor sit amet.</h4>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore porro voluptatibus sed quo culpa
                odio nemo laudantium, vitae asperiores praesentium cupiditate consequatur rem ipsam corrupti neque
                optio, eum quisquam similique. Illum doloribus voluptatum iusto, amet fuga, deleniti iure laudantium
                optio, quos impedit quis minus sapiente magnam quasi! Rerum nobis maxime porro eligendi impedit unde
                quidem veniam qui nesciunt perspiciatis atque magnam rem facere, velit eaque iste, officiis blanditiis!
                Optio suscipit architecto quam, nemo totam sunt iure, mollitia id recusandae fugiat ipsam eveniet ipsa
                expedita perspiciatis sed accusantium? Facilis harum laudantium vitae tempora illum architecto quos
                nostrum nemo dolor voluptatibus beatae reprehenderit sequi at explicabo maiores maxime excepturi
                cupiditate iste ab, culpa consequuntur cum tenetur, qui laborum. Cum debitis optio facilis nam atque,
                voluptates tempora quasi dolores! Saepe voluptates ut soluta voluptatum? Blanditiis officiis cum veniam
                dignissimos, sapiente eligendi dolor repellendus alias temporibus quod vitae exercitationem in iure
                nobis voluptas error! Facere nemo possimus corrupti voluptas blanditiis dolorum maiores. Officiis saepe
                itaque nihil est illum possimus soluta corporis nostrum ab dicta facere quae doloremque culpa
                  </div>
    </div>
</div>
{{>footer}}